<h1 id='title'>Do I Look FAT in Dis??</h1>

<% if @user %>
<%= link_to "New Question", new_question_path %>
<br><br>
<% end %>

<div class="order_dropdown">

  <%= form_tag(root_path, :method => "post") do %>

  <%= select_tag(:sort_choice, options_for_select([["View Count", "view"], ["Answer Count", "answer"],["Created at", "created"]]))  %>
  <%= submit_tag "Submit"%>
  <% end %>
</div>

<br>
<br>
<div id='homepage-content'>
  <% @questions.each do |question| %>
  <p id='homepage-listings'>
    <% if question.image %>
    <%= image_tag question.image.thumb('100x100#').url %> <br>
    <% end %>
    <%= link_to "#{question.title}", question %> 
    Views: <%= question.view_count %> 
    &nbsp
    &nbsp
    Answers: <%= question.answers.count %>
  </p>

  <% end %>

</div>




