<header>
  <h1>DO I LOOK FAT IN DIS??</h1>
</header>

<% if @user %>
<%= link_to "New Question", new_question_path %>
<% end %>

<div class="order_dropdown">




  <%= form_tag(root_path, :method => "post") do %>

  <%= select_tag(:sort_choice, options_for_select([["View Count", "view"], ["Answer Count", "answer"],["Created at", "created"]]))  %>
  <%= submit_tag "Submit"%>
  <% end %>
</div>

<br><br>
<div id='homepage-content'>
  <% @questions.each do |question| %>
  <p>views: <%= question.view_count %> 
    answers: <%= question.answers.count %>
    <%= link_to "#{question.title}", question %> 
  </p>

  <% end %>

</div>




