<header>
	<h1>DO I LOOK FAT IN DIS??</h1>
</header>

<h2>New Question Form</h2>

<%= form_for @question, :html => {:multipart => true} do |f| %>
<%= f.text_field :title , id: "title", placeholder: "Title" %><br/>
<%= f.text_area :content, id: "content", placeholder: "Content" %> <br/>
<%= f.file_field :image %> <br>
<%= f.hidden_field :retained_image %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit %>
<% end %>
