<div id = "question">
  <%= link_to "Back to all questions", questions_path %> 
  <h1>Question: <%= @question.title %></h1>
  <% if @question.image %>
    <%= image_tag @question.image.url %>
    <%= image_tag @question.image.thumb('50x50#').url %>
  <% end %>
  <h2>Question content: <%= @question.content %></h2>

  <div class="answer">

    <%= form_for @answer, remote: true, :html => {:class => "foo2"} do |f| %>
      <%= f.text_area :content, id: "content", placeholder: "Answer the Question", cols: 20, rows: 5 %><br />
      <%= f.hidden_field :answerable_id, :value => @question.id %>
      <%= f.hidden_field :answerable_type, :value => @question.class %>
      <%= f.submit %>
    <% end %>


    <h4>Replies</h4>

    <%= render @question.answers %>
  </div>
</div>
