<%= link_to "Back to all questions", questions_path %> 

<h1>Question: <%= @question.title %></h1>
<h2>Question content: <%= @question.content %></h2>

<h4>Answers:</h4>
<ul>
	<% @question.answers.each do |answer| %>
		<li><%= answer.content %></li>
	<% end %>
</ul>

<%= form_for @answer do |f| %>
	<%= f.text_area :content, id: "content", placeholder: "Answer the Question" %><br />
	<%= f.hidden_field :question_id, :value => @question.id %>
	<%= f.submit %>
<% end %>